#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.preview {
  align-items: center;
  border: 2px solid #8585ff;
  border-radius: 5px;
  display: flex;
  height: 150px;
  justify-content: center;
  width: 300px;
}

.preview-play {
  position: absolute;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal-footer {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.modal-footer__button {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.7);
}

.modal-footer__button:hover {
  color: #8585ff;
  border-color: #8585ff;
}